<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- You do not need to declare the appSettings section. Machine.config ships with a declaration for this section. -->
    <section name="appSettings" type="System.Web.Configuration.NameValueSectionHandler"/>
  </configSections>

  <appSettings>
    <add key="API_Key" value="AIzaSyADil-IR-E-iqu9lCwP1a2DzjjU0jpMSVo"/>
    <add key="Application_Name" value="AASD"/>
  </appSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  
</configuration>
