<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AASDService" />
            </basicHttpBinding>
        </bindings>
        <services>
            <service name="AASD_ServiceLayer.AASDService" />
        </services>
    </system.serviceModel>
</configuration>