@model AASD_WebUI.Models.ResultListViewModel

@{
    ViewBag.Title = "AASD search";
}

<form action="Search" method="post">
    <input id="request" name="request" type="text" value="" />
     <p><input id="Submit_request" formaction="@(Url.Action("Search", "Home"))" type="submit" value="Search" /></p>
 </form>



